<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <title>
         Free CRM
      </title>
      <link rel="stylesheet" href="/css/all.min.css">
      <link rel="stylesheet" href="/css/adminlte/adminlte.min.css">
   </head>
   <body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <noscript>
    <h2 style="color: #ff0000">
        Seems your browser doesn't support Javascript! Websocket relies on Javascript being enabled. Please enable Javascript and reload this page!
    </h2>
    </noscript>

    <div class="wrapper">

      <preloader th:fragment="preloader" th:replace="~{preloader.html :: preloader }"></preloader>
      <header th:fragment="header" th:replace="~{header.html :: header }"></header>
      <content th:fragment="content" th:replace="~{content.html :: content }"></content>
      <footer th:fragment="footer" th:replace="~{footer.html :: footer }"></footer>

      <script src="/js/jquery-3.7.1.min.js"></script>
      <script src="/js/websocket.js"></script>
      <script src="/js/adminlte/adminlte.js"></script>
      <script src="/js/menu.js"></script>
    </div>   
   </body>
</html>